node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

db/
App/config/keys.jks
App/api/firebase.js
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebaserc